In [253]:
import numpy  as np
import pandas as pd 
import matplotlib.pyplot as plt

In [343]:
mrt      = pd.read_csv('patient_monthwise_revenue_train.csv')
mrt_test = pd.read_csv('patient_monthwise_revenue_test.csv')

C:\Users\i054633\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [255]:
#mrt_f1   = pd.concat([mrt, mrt_test], axis = 0)
#mrt_f1.patient_id.nunique()

In [256]:

#mrt_f1['service_id'].isnull().any()

In [257]:
# number of services , most_frequent_service_id : mrt_f1_service_count, mrt_f1_most_frequent_service_count
#mrt_f1_service = mrt_f1.groupby(['patient_id', 'service_id']).count()

#mrt_f1_service['count'] = mrt_f1_service['FVD']

#mrt_f1_service_count    = mrt_f1_service.groupby('patient_id').count().FVD
#mrt_f1_service_count = mrt_f1_service_count.to_frame()
#labels = [ 'no_of_services']
#mrt_f1_service_count.columns = labels

#mrt_f1_service_max = mrt_f1.groupby(['patient_id', 'service_id'])['visits_count'].sum()

#mrt_f1_service_max = mrt_f1_service_max.to_frame()
#mrt_f1_service_max = mrt_f1_service_max.loc[mrt_f1_service_max.groupby('patient_id' )['visits_count'].idxmax()]
#mrt_f1_service_max

In [258]:
#mrt_f1_service_max.to_csv('mrt_f1_service_max.csv')
#mrt_f1_service_count.to_csv('mrt_f1_service_count.columns.csv')

In [259]:
mrt_f1   = pd.concat([mrt, mrt_test], axis = 0)

In [260]:
#mrt_f1["city"]  = mrt_f1["city"].astype('category')
#mrt_f1['city']  = mrt_f1['city'].cat.codes.to_frame()
#mrt_f1_city     = mrt_f1.groupby('patient_id').max().city

In [261]:
#mrt_f1["ref_type"]  = mrt_f1["ref_type"].astype('category')
#mrt_f1['ref_type']  = mrt_f1['ref_type'].cat.codes.to_frame()
#mrt_f1_ref_type     = mrt_f1.groupby('patient_id').max().ref_type

In [262]:
#mrt_f1["ref_name"]  = mrt_f1["ref_name"].astype('category')
#mrt_f1['ref_name']  = mrt_f1['ref_name'].cat.codes.to_frame()
#mrt_f1_ref_name     = mrt_f1.groupby('patient_id').max().ref_name

In [263]:
#mrt_f1["ref_source"]  = mrt_f1["ref_source"].astype('category')
#mrt_f1['ref_source']  = mrt_f1['ref_source'].cat.codes.to_frame()
#mrt_f1_ref_source     = mrt_f1.groupby('patient_id').max().ref_source

In [264]:
#mrt_f1["gender"]  = mrt_f1["gender"].astype('category')
#mrt_f1['gender']  = mrt_f1['gender'].cat.codes.to_frame()
#mrt_f1_gender     = mrt_f1.groupby('patient_id').max().gender

In [265]:
#mrt_f1["brand"]  = mrt_f1["brand"].astype('category')
#mrt_f1['brand']  = mrt_f1['brand'].cat.codes.to_frame()
#mrt_f1_ref_brand     = mrt_f1.groupby('patient_id').max().brand

In [266]:
#mrt_f1_cat = pd.concat([mrt_f1_city,mrt_f1_ref_type,mrt_f1_ref_name, mrt_f1_ref_source, mrt_f1_gender, mrt_f1_ref_brand], axis = 1)

In [267]:
#mrt_f1_cat.to_csv('mrt_f1_categorical.csv')

In [268]:
#mrt_f1_sums  = mrt_f1.groupby('patient_id').sum()

In [269]:
#mrt_f1_sums.to_csv('mrt_f1_sums.csv')

In [270]:
#mrt_f1_count = mrt_f1.groupby('patient_id').count().LVD

In [271]:
#mrt_f1_count.to_csv('mrt_f1_count.csv')

In [272]:
from datetime import datetime
import time

def compare_dates(date):
    date_format = '%d/%m/%Y'
    current_date = datetime.strptime(date, date_format)  
  
    return current_date

#mrt_f1['FVD'] = mrt_f1['FVD'].apply(compare_dates)

In [273]:
#mrt_f1['LVD'] = mrt_f1['LVD'].apply(compare_dates)

In [274]:
#mrt_f1['no_of_days'] = (mrt_f1['LVD']-mrt_f1['FVD']).dt.days

In [275]:
#mrt_f1_no_of_days = mrt_f1.groupby('patient_id').max().no_of_days

In [276]:
#mrt_f1_no_of_days.to_csv('mrt_f1_no_of_days.csv')

In [277]:
#dg_train = pd.read_csv('physio_diagnosis_train.csv')
#dg_test  = pd.read_csv('physio_diagnosis_test.csv')

In [278]:
#dg = pd.concat([dg_train, dg_test], axis = 0)

In [279]:
#dg.info()

In [280]:
#dg["diagnosis"] = dg["diagnosis"].astype('category')
#dg['diagnosis'] = dg['diagnosis'].cat.codes.to_frame()
#dg = dg.groupby('patientId').max()
#dg.to_csv('dg.csv')

In [281]:
#dg['diagnosis'].unique()

In [282]:
out = pd.read_csv('patient_train_classified.csv')
final = pd.read_csv('mrt_f1_service_final.csv')

In [283]:
out.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48804 entries, 0 to 48803
Data columns (total 3 columns):
PID        48804 non-null int64
Bucket     48804 non-null object
Revenue    48804 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [284]:
labels = ['patient_id', 'Bucket', 'Revenue']
outs = out
outs.columns = labels
outs = outs.groupby('patient_id', as_index=False).max()

In [285]:
outs

       patient_id    Bucket   Revenue
0           10020       Low     500.0
1           10293       Med    4900.0
2           10381      High   12250.0
3           10388      High   30350.0
4           10611       Med    4250.0
5           10670  High-Med    6400.0
6           10672      High   57500.0
7           10714      High   75400.0
8           10826      High   14150.0
9           10841       Med    4050.0
10          11193      High   19500.0
11          11257       Low     900.0
12          11462       Med    3850.0
13          11480       Low     600.0
14          11750       Med    2000.0
15          11883  High-Med    7150.0
16          11949       Low     550.0
17          11975      High  101950.0
18          12084  High-Med    5900.0
19          12089       Low     500.0
20          12113       Low       0.0
21          12120  High-Med    8600.0
22          12127  High-Med    9991.0
23          12142       Low     100.0
24          12259       Low     600.0
25          12355       Low     100.0
26          12378       Med    3250.0
27          12468  High-Med    9250.0
28          12646       Med    1700.0
29          12650       Low     100.0
...           ...       ...       ...
48774      453834  High-Med    5550.0
48775      453850       Low     420.0
48776      453856       Med    2205.0
48777      453857       Low     980.0
48778      453883  High-Med    5750.0
48779      453935       Med    1400.0
48780      453938       Low     550.0
48781      453957       Med    4600.0
48782      453981       Low     700.0
48783      454005       Med    3850.0
48784      454086       Med    2150.0
48785      454133       Med    1900.0
48786      454160  High-Med    5550.0
48787      454161  High-Med    5100.0
48788      454221       Low     650.0
48789      454236       Low     700.0
48790      454255       Low     300.0
48791      454272       Low     500.0
48792      454332       Low    1000.0
48793      454334       Low     600.0
48794      454342       Med    4000.0
48795      454359       Med    2990.0
48796      454365       Low     650.0
48797      454372      High   18150.0
48798      454378       Low     550.0
48799      454484       Low     600.0
48800      454510       Med    4000.0
48801      454598       Low     600.0
48802      454658       Low     600.0
48803      454678       Low    1000.0

[48804 rows x 3 columns]

In [286]:
outs_combined = pd.merge(outs, final, on = "patient_id")

In [287]:
#outs_combined.to_csv('outs.csv')

PermissionError: [Errno 13] Permission denied: 'outs.csv'

In [303]:
mrt_1 = mrt

In [304]:
mrt_1['approx_age'].isnull().any()

False

In [305]:
mrt_1['approx_age'] = mrt_1['approx_age'].fillna(mrt_1['approx_age'].mean())

In [306]:
mrt_1['approx_age'].isnull().any()

False

In [307]:
mrt_1 = mrt_1.groupby('patient_id').max().approx_age

In [309]:
mrt_1.to_csv('age.csv')

In [318]:
mrt2 = mrt
mrt2['avg_nps'] = mrt2['avg_nps'].fillna(mrt2['avg_nps'].mean())

In [321]:
mrt2 = mrt2.groupby('patient_id').max().avg_nps

In [322]:
mrt2.to_csv('nps.csv')

In [324]:
submit = pd.read_csv('Submission.csv')

In [327]:
sub = submit.drop(['Bucket'], axis = 1)

In [331]:
sub.columns = ['patient_id']

In [335]:
sub = sub.sort_values(ascending= True, by = 'patient_id')

In [337]:
out1 = pd.merge(sub, final, on = "patient_id")

In [370]:
out1.to_csv('test.csv')

In [360]:
mrt_test = pd.read_csv('patient_monthwise_revenue_test.csv')
mrts = mrt_test

C:\Users\i054633\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [361]:
mrts['approx_age'].isnull().any()
mrts['approx_age'] = mrts['approx_age'].fillna(mrts['approx_age'].mean())

In [362]:
mrts['approx_age'].isnull().any()

False

In [363]:
mrts_age = mrts.groupby('patient_id').max().approx_age

In [368]:
mrts_age.to_csv('age_test.csv')

In [365]:
mrts['avg_nps'] = mrts['avg_nps'].fillna(mrts['avg_nps'].mean())

In [366]:
mrts_nps = mrts.groupby('patient_id').max().avg_nps

In [369]:
mrts_nps.to_csv('nps_test.csv')