In [106]:
import numpy  as np
import pandas as pd 
import matplotlib.pyplot as plt

# we need following features : months_count, total count ,

In [107]:
mrt = pd.read_csv('patient_monthwise_revenue_train.csv')
dgs = pd.read_csv('physio_diagnosis_train.csv')
aps = pd.read_csv('physio_appts_train.csv')
out = pd.read_csv('patient_train_classified.csv')

In [108]:
#mrt.info()

In [109]:
#drop unwanted columns
#labels = ['Unnamed: 20', 'Unnamed: 21']
#mrt    = mrt.drop(labels = labels , axis = 1)

In [110]:
#mrt.info()
#looks better: :)

In [111]:
#check the others
#dgs.info()

In [112]:
#drop unwanted columns
labels = ['Unnamed: 7', 'Unnamed: 8']
dgs    = dgs.drop(labels = labels , axis = 1)

In [55]:
#dgs.info()

In [56]:
# look at aps now
#aps.info()

In [57]:
# out
#out.info()

In [113]:
mrt.groupby(['patient_id'])['visit_month_year'].count().value_counts().plot(kind = 'hist')
#plt.show()

In [114]:
#mrt.groupby(['patient_id'])['visit_month_year'].count().value_counts()

In [115]:
mrt_1 = mrt.groupby('patient_id').count().visit_month_year.to_frame()
mrt_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 1 columns):
visit_month_year    48804 non-null int64
dtypes: int64(1)
memory usage: 762.6 KB

In [116]:
mrt_1.columns = [ 'months_count']
mrt_f         = mrt_1

In [117]:
mrt_1 = mrt
mrt_1 = mrt_1.groupby('patient_id').sum().visits_count.to_frame()
mrt_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 1 columns):
visits_count    48804 non-null int64
dtypes: int64(1)
memory usage: 762.6 KB

In [118]:
mrt_1.columns  = [ 'visits_count_sum' ]

In [119]:
mrt_f1 = pd.concat([mrt_f, mrt_1], axis = 1)

In [120]:
mrt_f1.info()
mrt_f1
mrt_f = mrt_f1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 2 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
dtypes: int64(2)
memory usage: 1.1 MB

In [121]:
mrt_1 = mrt
mrt_1 = mrt_1.groupby('patient_id').sum().revenue.to_frame()
mrt_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 1 columns):
revenue    48804 non-null float64
dtypes: float64(1)
memory usage: 762.6 KB

In [122]:
mrt_1.columns = ['revenue_sum']

In [123]:
mrt_f1 = pd.concat([mrt_f, mrt_1], axis = 1)

In [124]:
mrt_f1
mrt_f = mrt_f1

In [125]:
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 3 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.5 MB

In [126]:
from datetime import datetime
import time
mrt_1 = mrt
def compare_dates(date):
    date_format = '%d/%m/%Y'
    current_date = datetime.strptime(date, date_format)  
  
    return current_date

mrt_1['FVD'] = mrt_1['FVD'].apply(compare_dates)

In [127]:
mrt_1['FVD']

mrt_1['LVD'] = mrt_1['LVD'].apply(compare_dates)

In [128]:
mrt_1['NO_OF_DAYS'] = (mrt_1['LVD']-mrt_1['FVD']).dt.days

In [129]:
mrt_1 = mrt_1.groupby('patient_id').max().NO_OF_DAYS

In [130]:
mrt_1 = mrt_1.to_frame()

In [131]:
mrt_1
mrt_f1 = pd.concat([mrt_f, mrt_1], axis = 1)

In [132]:
mrt_f1
mrt_f  = mrt_f1

In [133]:
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 4 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
dtypes: float64(1), int64(3)
memory usage: 1.9 MB

In [134]:
mrt_1   = mrt
mrt_1   = mrt.groupby('patient_id').sum().visits_required.to_frame()

In [135]:
mrt_1
mrt_f1 = pd.concat([mrt_f, mrt_1], axis = 1)

In [136]:
mrt_f1
mrt_f = mrt_f1

In [137]:
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 5 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
dtypes: float64(1), int64(4)
memory usage: 2.2 MB

In [147]:
mrt_1 = mrt
mart_1 = mrt_1.drop(['NO_OF_DAYS'], axis = 1)

In [148]:
mrt_1['avg_nps'] = mrt_1['avg_nps'].fillna(mrt_1['avg_nps'].mean())

In [149]:
mrt_1['avg_nps'].isnull().any()

False

In [151]:
mrt_1   = mrt_1.groupby('patient_id').max().avg_nps

In [153]:
mrt_1  = mrt_1.to_frame()

In [155]:
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)

In [157]:
mrt_f1
mrt_f = mrt_f1

In [158]:
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 6 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
dtypes: float64(2), int64(4)
memory usage: 2.6 MB

In [164]:
mrt_1 = mrt
mrt_1["service_id"] = mrt_1["service_id"].astype('category')

In [165]:
mrt_1['service_id'] = mrt_1['service_id'].cat.codes

In [167]:
mrt_1['service_id']
mrt_1  = mrt_1.groupby('patient_id').max().service_id.to_frame()

In [168]:
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1

In [169]:
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 7 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
dtypes: float64(2), int16(1), int64(4)
memory usage: 2.7 MB

In [171]:
mrt_1 = mrt
mrt_1["city"] = mrt_1["city"].astype('category')
mrt_1['city'] = mrt_1['city'].cat.codes
mrt_1['city']
mrt_1  = mrt_1.groupby('patient_id').max().city.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 8 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
dtypes: float64(2), int16(1), int64(4), int8(1)
memory usage: 2.7 MB

In [172]:
mrt_1 = mrt
mrt_1["ref_type"] = mrt_1["ref_type"].astype('category')
mrt_1['ref_type'] = mrt_1['ref_type'].cat.codes
mrt_1['ref_type']
mrt_1  = mrt_1.groupby('patient_id').max().ref_type.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 9 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
ref_type            48804 non-null int8
dtypes: float64(2), int16(1), int64(4), int8(2)
memory usage: 2.8 MB

In [173]:
mrt_1 = mrt
mrt_1["ref_name"] = mrt_1["ref_name"].astype('category')
mrt_1['ref_name'] = mrt_1['ref_name'].cat.codes
mrt_1['ref_name']
mrt_1  = mrt_1.groupby('patient_id').max().ref_name.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 10 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
ref_type            48804 non-null int8
ref_name            48804 non-null int16
dtypes: float64(2), int16(2), int64(4), int8(2)
memory usage: 2.9 MB

In [175]:
mrt_1 = mrt
mrt_1["ref_source"] = mrt_1["ref_source"].astype('category')
mrt_1['ref_source'] = mrt_1['ref_source'].cat.codes
mrt_1['ref_source']
mrt_1  = mrt_1.groupby('patient_id').max().ref_source.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 11 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
ref_type            48804 non-null int8
ref_name            48804 non-null int16
ref_source          48804 non-null int8
dtypes: float64(2), int16(2), int64(4), int8(3)
memory usage: 2.9 MB

In [176]:
mrt_1 = mrt
mrt_1["service_name"] = mrt_1["service_name"].astype('category')
mrt_1['service_name'] = mrt_1['service_name'].cat.codes
mrt_1['service_name']
mrt_1  = mrt_1.groupby('patient_id').max().service_name.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 12 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
ref_type            48804 non-null int8
ref_name            48804 non-null int16
ref_source          48804 non-null int8
service_name        48804 non-null int8
dtypes: float64(2), int16(2), int64(4), int8(4)
memory usage: 3.0 MB

In [177]:
mrt_1 = mrt
mrt_1["gender"] = mrt_1["gender"].astype('category')
mrt_1['gender'] = mrt_1['gender'].cat.codes
mrt_1['gender']
mrt_1  = mrt_1.groupby('patient_id').max().gender.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 13 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
ref_type            48804 non-null int8
ref_name            48804 non-null int16
ref_source          48804 non-null int8
service_name        48804 non-null int8
gender              48804 non-null int8
dtypes: float64(2), int16(2), int64(4), int8(5)
memory usage: 3.0 MB

In [179]:
mrt_1 = mrt
mrt_1["brand"] = mrt_1["brand"].astype('category')
mrt_1['brand'] = mrt_1['brand'].cat.codes
mrt_1['brand']
mrt_1  = mrt_1.groupby('patient_id').max().brand.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 14 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
ref_type            48804 non-null int8
ref_name            48804 non-null int16
ref_source          48804 non-null int8
service_name        48804 non-null int8
gender              48804 non-null int8
brand               48804 non-null int8
dtypes: float64(2), int16(2), int64(4), int8(6)
memory usage: 3.1 MB

In [180]:
mrt_1 = mrt
mrt_1  = mrt_1.groupby('patient_id').max().approx_age.to_frame()
mrt_f1  = pd.concat([mrt_f, mrt_1], axis = 1)
mrt_f   = mrt_f1
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48804 entries, 10020 to 454678
Data columns (total 15 columns):
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int16
city                48804 non-null int8
ref_type            48804 non-null int8
ref_name            48804 non-null int16
ref_source          48804 non-null int8
service_name        48804 non-null int8
gender              48804 non-null int8
brand               48804 non-null int8
approx_age          48804 non-null object
dtypes: float64(2), int16(2), int64(4), int8(6), object(1)
memory usage: 3.4+ MB

In [182]:
mrt_f.to_csv('mrt_final.csv')

In [183]:
# take this input and start with another processing

mrt_f  = pd.read_csv('mrt_final.csv')

In [184]:
mrt_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48804 entries, 0 to 48803
Data columns (total 16 columns):
patient_id          48804 non-null int64
months_count        48804 non-null int64
visits_count_sum    48804 non-null int64
revenue_sum         48804 non-null float64
NO_OF_DAYS          48804 non-null int64
visits_required     48804 non-null int64
avg_nps             48804 non-null float64
service_id          48804 non-null int64
city                48804 non-null int64
ref_type            48804 non-null int64
ref_name            48804 non-null int64
ref_source          48804 non-null int64
service_name        48804 non-null int64
gender              48804 non-null int64
brand               48804 non-null int64
approx_age          47709 non-null float64
dtypes: float64(3), int64(13)
memory usage: 6.0 MB

In [188]:
mrt_f['approx_age'].isnull().sum()

1095

In [194]:
mrt_f['approx_age'] = mrt_f['approx_age'].fillna(mrt_f['approx_age'].mean())
mrt_f['approx_age'].isnull().sum()

0

In [197]:
mrt_f  = mrt_f.to_csv('mrt_final.csv')